body {
  margin: 0;
  font-family: 'Merienda', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px ;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.div {
max-width: 1440px;
width: 100%;
}
